.chords-panel {
    width: 25%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s;
}

.chord-box {
    background-color: rgba(6, 78, 59, 0.5);
    /* green-800/50 */
    padding: 1rem;
    border-radius: 0.75rem;
    margin-bottom: 1rem;
    border: 2px solid var(--green-500);
}

.chord-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--green-300);
    text-align: center;
    margin-bottom: 0.5rem;
}

.chord-diagram {
    width: 6rem;
    height: 6rem;
    background-color: var(--gray-800);
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    color: var(--gray-500);
}