.profile-bio-container {
    background-color: var(--gray-800);
    border-radius: 0.5rem;
    /* rounded-lg */
    padding: 1.5rem;
    /* p-6 */
    border: 1px solid var(--gray-700);
}

.bio-title {
    font-size: 1.25rem;
    /* text-xl */
    font-weight: 700;
    margin-bottom: 0.75rem;
    /* mb-3 */
    color: var(--indigo-400);
    display: flex;
    align-items: center;
}

.bio-text {
    color: var(--gray-300);
    line-height: 1.625;
    white-space: pre-line;
}