.profile-header-container {
    /* Styles for Profile Header */
    position: relative;
}

.profile-banner {
    height: 12rem;
    /* h-48 */
    width: 100%;
    background-color: var(--gray-800);
    position: relative;
}

.profile-avatar-container {
    padding-left: 2rem;
    /* px-8 */
    padding-bottom: 2rem;
    /* pb-8 */
    position: relative;
}

.profile-avatar {
    width: 8rem;
    /* w-32 */
    height: 8rem;
    /* h-32 */
    border-radius: 9999px;
    border: 4px solid var(--gray-900);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    object-fit: cover;
    background-color: var(--gray-700);
}