.strumming-panel {
    width: 25%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.strumming-box {
    opacity: 0.5;
}

.strumming-pattern {
    display: flex;
    gap: 0.5rem;
    color: var(--green-400);
    font-size: 1.875rem;
    /* 3xl */
}